@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@700&display=swap');
:root{
    --wcfGreen: #708F41;
    --wcfRed: #C51415;
    --wcfYellow: #FCD760;
}


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
}

.fw-section{
    /* border: 1px solid black; */
    /* height: 15em; */
    margin: 0 0 3em 0;
    /* text-align: center; */
    /* height: 90%;  */
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.smol-section{
    margin: 0 auto 3em auto;
    width: 60%;
}

.top-gap{
    margin-top: 3em;
}

.no-btm-gap{
    margin-bottom: 0px;
}

.green-bg{
    background-color: var(--wcfGreen);
}

.yellow-bg{
    background-color: var(--wcfYellow);
}

.red-bg{
    background-color: var(--wcfRed);
}

/* HOME PAGE SOCIAL ITEMS */
.social-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.social-menu > a{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em;
    border-left: 3px solid var(--wcfGreen);
    width: 15em;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 120%;
    color: black;
}

.social-menu p{
    text-align: center;
}
.social-menu i{
    margin-right: 1em;
}

.social-menu > a:hover{
    transform: scale(1.05);
}

.yellow-edge > a{
    border-left-color: var(--wcfRed);
}